scikit-learn
rank-bm25
numpy
scipy
sentence-transformers
torch
torchvision
transformers
datasets
pillow
mteb
ipykernel
nltk
pyyaml
langchain_google_genai
langchain-openai
langchain-groq
langchain-openrouter
langchain-huggingface
langchain-anthropic
langchain-ollama